circle {
    .icon-circle, .icon-circle-large, .icon-circle-small{
        position: relative;
        display: inline-block;
        margin: -1px;
        
        width: 20px; /* 60*/
        height: 20px; 
        
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius: 50%;
        border: 1px solid #ebebeb;
       
        background: rgb(0, 161, 225);
        color: #fff;
        
      }
}


