.icon-circle {
    position: relative;
    display: inline-block;
    margin: -1px;
    
    width: 10px; /* 60*/
    height: 10px; 
    
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    
    //background: rgb(15, 0, 225);
}

