page-task-add {
    .inner-text {
        margin: 0 0 0 0 !important;
        font-size: 16px;
    }

    .item-inner {
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;
     }

     .inner-text-end {
         margin-right: 35px;
         padding-right: 35px;
         text-align:right;
         font-size: 16px;
         color: gray;
     }

    .buttons {
        display: flex;
     }
}
