page-project-color {
    .inner-checkmark {
        z-index: 2;
        position: absolute;
        top: 35%;
        left: 58%;
        margin: auto;
    }

    .inner-button {
        width: 35px !important;
        height: 35px !important;
    }
}
